<% include header.ejs %>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            Dashboard
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
         <div class="page-content inset">
          <div class="row">
            <!--<div class="col-md-12">
              <p class="lead">This is a lead title</p>
            </div>-->
<!--            <div class="col-md-6">
              <p class="well">This is a box</p>
            </div>
            <div class="col-md-6">
              <p class="well">This is also a box</p>
            </div>
            <div class="col-md-4">
              <p class="well">I'm also a box with two brothers</p>
            </div>
            <div class="col-md-4">
              <p class="well">I'm Boxy</p>
            </div>
            <div class="col-md-4">
              <p class="well">I'm Boxo</p>
            </div>-->
            <center><img src="images/lilacsbg.png" /></center>
          </div>
        </div>
      </div>
    </div>
<% include footer.ejs %>