<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  	<center>
  		<img src="/images/retro_flower_1_color_colour_lilac_peace-999px.png" width="200"/>
  		<h1>Li'lACS is running.  Have fun!</h1>
      <p>Documentation here: <a href="https://github.com/ricardoalcocer/lilacs/blob/master/README.md">https://github.com/ricardoalcocer/lilacs/blob/master/README.md</a></p>
  	</center>
  </body>
</html>