<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  	<center>
  		<img src="/images/retro_flower_1_color_colour_lilac_peace-999px.png" width="200"/>
  		<h1>Li'lACS</h1>
  	</center>
  </body>
</html>